<section data-ng-controller="MongocrudsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Mongocruds</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="mongocrud in mongocruds" data-ng-href="#!/mongocruds/{{mongocrud._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="mongocrud.created | date:'medium'"></span>
				by
				<span data-ng-bind="mongocrud.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="mongocrud.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!mongocruds.$resolved || mongocruds.length">
    	No Mongocruds yet, why don't you <a href="/#!/mongocruds/create">create one</a>?
    </div>
</section>